.data/*
HR_Service/deploy/*
HR_Web/deploy/*
HR_Component/Common/deploy/*
HR_Component/Framework/deploy/*
HR_Component/Resources/Web/deploy/*
HR_Service/classes/*
HR_Web/classes/*
HR_Component/Common/classes/*
HR_Component/Framework/classes/*
HR_Component/Resources/Web/classes/*
*.lck
