.data/*
HR_Service/deploy/*
HR_Web/deploy/*
HR_Component/J_Resource/deploy/*
HR_Component/J_Framework/deploy/*
HR_Component/W_Template/Web/deploy/*
HR_Service/classes/*
HR_Web/classes/*
HR_Component/J_Resource/classes/*
HR_Component/J_Framework/classes/*
HR_Component/W_Template/Web/classes/*